{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">
	#inner {
		margin: 4em 25%;
	}

	div.module div {
		border: 1px solid #ddd;
		border-top-color: #636363;
		margin-top: -1px;
	}

	div.module p {
		padding-left: 1em;
		padding-right: 1em;
	}

	code, pre {
		background: #ffe;
	}

	pre {
		padding: 1em;
		margin: 0;
	}
        #map,#table,#summary {
margin-top:20px;
}
</style>
{% endblock %}

{% block content %}
 <div id="grid-fluid">
<div id="summary">
<div class="row">

<div class="span4">
<h2>Groups</h2>

<h3 style="padding-left:40px;">{{ groups.count }}</h3>

</div>

<div class="span4">
<h2> Members </h2>
<h3 style="padding-left:40px;">{{ members.count }}</h3>
</div>

<div class="span4">


</div>
</div>
</div>
<div id="map">
<div class="row">
<h2 class="span12">Map View</h2>
<div id="mapper">
</div>
<div class="row">
<div class="span12">
</div>
</div>
</div>
<div id="table">
<h2>Groups Preview</h2>
<table style="margin-left:50px;"class="zebra-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Group</th>
            <th>Farmers</th>

        </tr>
    </thead>
    <tbody>
         {% for group in groups %}
        <tr>
        <td>{{ group.id }} </td>
        <td>{{group.name }}</td>
        <td>{{ group}}
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Farmers Preview</h2>
<table style="margin-left:50px;"class="zebra-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Members</th>
            <th>Age</th>
            <th>Group</th>

        </tr>
    </thead>
    <tbody>
         {% for member in members %}
        <tr>
        <td>{{ member.id  }} </td>
        <td>{{member.name  }}</td>
        <td>{{ member.group }}
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
</div>
</div>
{% endblock %}
