<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load region_tags %}
{% load tabs_tags %}
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{% block title %}RapidSMS{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/layout.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/tables.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/forms.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css" />
<link type="text/css" rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}rapidsms/javascripts/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}rapidsms/javascripts/collapse.js"></script>
{% endblock %}

	</head>
	<body>
		<div id="wrapper">
			{% region "top" %}

			{% block header %}
			<div id="header">
				<div id="branding">
					<h1>
						<a title="{% trans "Return to the Dashboard" %}" href="">
							<span>RapidSMS</span>
						</a>
					</h1>
				</div>

				{% block auth %}
				<div id="auth">{% if user.is_authenticated %}
					<a href="{% url rapidsms-logout %}">{% trans "Log out" %} {{ user.username }}</a>{% else %}
					<a href="{% url rapidsms-login %}">{% trans "Log in" %}</a>{% endif %}
				</div>
				{% endblock %}
                                
				{% get_tabs as tabs %}

				<ul id="tabs">{% for tab in tabs %}
					<li class="app-{{ tab.name }}{% if tab.is_active %} active{% endif %}">
						<a href="{{ tab.url }}"><span>{{ tab.caption }}</span></a>
					</li>{% endfor %}
				</ul>

				{% block page_tabs %}
				{% endblock %}
			</div>
			{% endblock %}

			{% block breadcrumbs %}{% if breadcrumbs %}
			<div id="breadcrumbs">{% for caption, url in breadcrumbs %}
				<a href="{{ url }}">{{ caption }}</a>{% if not forloop.last %}
				<span>&raquo;</span>{% endif %}{% endfor %}
			</div>{% endif %}
			{% endblock %}

			<div id="container-fluid">
				{% block content %}{% endblock %}
			</div>

			{% block footer %}
			<div id="footer">
				<p class="rights">
					<a href="http://github.com/rapidsms/rapidsms">RapidSMS</a> is available under
					<a href="http://github.com/rapidsms/rapidsms/raw/master/LICENSE">the BSD license</a>.
				</p>

				{% region "footer" %}
			</div>
			{% endblock %}

			{% region "bottom" %}
		</div>
	</body>
</html>
